                                    ------
                                    Download
                                    ------
                                    ------
                                    ------

Project Archive and JAR
  
  The latest JAR can be obtained from the Codehaus Maven repository.  The 
  repository also contains project assemblies (.tar.gz), which include the 
  source code, generated JavaDoc, and dependency JARs.  <<The latest release is 
  version ${project-version}.>> 
  
  {{{http://snapshots.repository.codehaus.org/org/codehaus/groovy/http-builder/}
  Browse the latest snapshot here.}}
  
  {{{http://repository.codehaus.org/org/codehaus/groovy/http-builder/}
  Browse the latest stable build here.}}
  
  
Maven Users

  Maven users can simply copy the dependency tag into their own project:
  
---------------------------------------
  <dependency>
    <groupId>org.codehaus.groovy</groupId>
    <artifactId>http-builder</artifactId>
    <version>${project-version}</version>
  </dependency>
---------------------------------------

  You might also need to add the Codehaus repository to your project POM as well:

---------------------------------------
  <repository>
    <id>Codehaus</id>
    <url>http://repository.codehaus.org</url>
  </repository>
  <repository>
    <id>Codehaus.Snapshots</id>
    <url>http://snapshots.repository.codehaus.org</url>
  </repository>
---------------------------------------
		